@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 14ch;
  }
}

.animate-typing-cursor {
  display: inline-block;
  animation: typing 2.5s steps(14, end) forwards;
  width: 0ch;
  position: relative;
}